# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MagTFs files
MagTFs
*.log
*.logfile
*.out
*.eps
#*.png
#*.pdf
*.dat
*.vtk
#contrib
tests
releases
# doc
manual
