# Input and output channels with multiple pieces (in different time intervals)
Number of real input channel pieces    :  1
MMB_BX_1957_2007.txt
Number of real output channel pieces   :  1
MMB_BZ_1957_2007.txt

# Estimation parameters
Output file prefix                     :  MMB
Gap id                                 :  99999
Gap interp floor                       :  0.02
Sample interval                        :  3600
Section length multiple                :  3
Overlap                                :  0.5
Least square method                    :  irls     # [ls, irls], default=ls
Period type                            :  given    # [auto, given]
Number of periods                      :  25
255744
327456
421632
543456
701568
903744
1166400
1505088
1940544
2505600
3236544
4180032
5396544
6969888
9000288

