# Input and output channels with multiple pieces (in different time intervals)
Number of real input channel pieces    :  1
e10.txt
Number of real output channel pieces   :  1
i10.txt

# Estimation parameters
Output file prefix                     :  satellite
Gap id                                 :  99999
Gap interp floor                       :  0.05
Sample interval                        :  5400
Section length multiple                :  3
Overlap                                :  0.5
Least square method                    :  irls  # [ls, irls], default=ls  
Period type                            :  auto  # [auto, given]
Number of periods                      :  25
Minimum period                         :  129600
Maximum period                         :  8640000