# Input and output channels with multiple pieces (in different time intervals)
Number of real input channel pieces    :  1
CKI_BXY_2017.txt
Number of real output channel pieces   :  1
CKI_BZ_2017.txt

# Estimation parameters
Output file prefix                     :  CKI
Gap id                                 :  99999
Gap interp floor                       :  0.02
Sample interval                        :  60
Section length multiple                :  3
Overlap                                :  0.5
Least square method                    :  irls  # [ls, irls], default=ls
Period type                            :  given # [auto, given]
Number of periods                      :  16
# Minimum period                         :  120
# Maximum period                         :  1e4
300
360
480
600
780
960
1200
1500
1860
2340
2940
3660
4560
5700
7140
8940
